

 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light" style="box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" >
            Uji Konsentrasi
        </a>
       
    </div>
    
    
    <!-- Right elements -->
    <div class="d-flex align-items-center">        
        {% if 'username' in session %}
        <div class="navbar-brand me-2 mt-lg-0">
            {{ session['nama_pegawai'] }}
        </div>
        <a class="navbar-brand me-2 mt-lg-0" href="{{ url_for('login') }}">
            Logout
        </a>
        {% endif %}
    </div>
      
    </div>
    
  </nav>
