{% set z= output_atribut|length %}
{% set length_data_latih= data_latih|length %}

<!-- DataTables -->
<link href="https://apps.multi.co.id/myassetv3/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="https://apps.multi.co.id/myassetv3/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="https://apps.multi.co.id/myassetv3/assets/libs/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<h1 style="text-align: center;">Proses</h1>
<h3>Data Mentah</h3>

<style>
    .table-container {
        margin-bottom: 30px; /* Atur jarak antara tabel */
    }
</style>




<!-- Include DataTables initialization script -->
<script type="text/javascript">
    $(document).ready(function() {
        $('#data_lvq').DataTable({
            stateSave: true,
            searching: false,
            buttons: [
                // Define export options if needed
            ],
            // Additional configuration options if needed
        });
    });
</script>

<table id="data_mentah" class="table table-bordered" style="width: 100%;">
    <thead>
        <tr>
            <th>obs</th>
            <th>Time</th>
            <th>Delta</th>
            <th>Theta</th>
            <th>Alpha1</th>
            <th>Alpha2</th>
            <th>Beta1</th>
            <th>Beta2</th>
            <th>Gamma1</th>
            <th>Gamma2</th>
            <th>Attention</th>
            <th>Meditation</th>
            <th>Derived</th>
            <th>totPwr</th>
            <th>Class</th>
        </tr>
    </thead>
    <tbody>
        {% for row in range(z) %}
        <tr>
            <td>{{ output_atribut['obs'][row] }}</td>
            <td>{{ output_atribut[' time'][row] }}</td>
            <td>{{ output_atribut[' Delta'][row] }}</td>
            <td>{{ output_atribut[' Theta'][row] }}</td>
            <td>{{ output_atribut[' Alpha1'][row] }}</td>
            <td>{{ output_atribut[' Alpha2'][row] }}</td>
            <td>{{ output_atribut[' Beta1'][row] }}</td>
            <td>{{ output_atribut[' Beta2'][row] }}</td>
            <td>{{ output_atribut[' Gamma1'][row] }}</td>
            <td>{{ output_atribut[' Gamma2'][row] }}</td>
            <td>{{ output_atribut[' Attention'][row] }}</td>
            <td>{{ output_atribut[' Meditation'][row] }}</td>
            <td>{{ output_atribut[' Derived'][row] }}</td>
            <td>{{ output_atribut[' totPwr'][row] }}</td>
            <td>{{ output_atribut[' class '][row] }}</td> 
            
        </tr>
        {% endfor %}
    </tbody>
</table>




    <h3>Penambahan Atribut</h3>
    <!-- <p>Alpha = Alpha1 + Alpha2</p>
        <p>Alpha = {{ output_atribut[' Alpha1'][0] }} + {{ output_atribut[' Alpha2'][0] }}</p>
        <p>Alpha = {{ output_atribut['A'][0] }}</p> -->
        
        <div class="table-responsive">
            <table id="data_atribut" class="table table-bordered" style="width: 100%;">
                <thead>
                    <tr>
                        <th>obs</th>
                <th>Time</th>
                <th>Delta</th>
                <th>Theta</th>
                <th>Alpha1</th>
                <th>Alpha2</th>
                <th>Beta1</th>
                <th>Beta2</th>
                <th>Gamma1</th>
                <th>Gamma2</th>
                <th>Attention</th>
                <!-- <th>Meditation</th> -->
                <!-- <th>Derived</th> -->
                <!-- <th>totPwr</th>
        <th>Class</th> -->
                <th>A</th>
                <th>B</th>
                <th>G</th>
            </tr>
        </thead>
        <tbody>
            {% for row in range(z) %}
            <tr>
                <td>{{ output_atribut['obs'][row] }}</td>
                <td>{{ output_atribut[' time'][row] }}</td>
                <td>{{ output_atribut[' Delta'][row] }}</td>
                <td>{{ output_atribut[' Alpha1'][row] }}</td>
                <td>{{ output_atribut[' Alpha2'][row] }}</td>
                <td>{{ output_atribut[' Beta1'][row] }}</td>
                <td>{{ output_atribut[' Beta2'][row] }}</td>
                <td>{{ output_atribut[' Gamma1'][row] }}</td>
                <td>{{ output_atribut[' Gamma2'][row] }}</td>
                <td>{{ output_atribut[' Attention'][row] }}</td>
                <td>{{ output_atribut[' Meditation'][row] }}</td>
                <!-- <td>{{ output_atribut[' Derived'][row] }}</td>
             <td>{{ output_atribut[' totPwr'][row] }}</td> -->
            <td>{{ output_atribut['A'][row] }}</td>
                <td>{{ output_atribut['B'][row] }}</td>
                <td>{{ output_atribut['G'][row] }}</td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
    </div>


<div class="table-container"></div>
    <h3>Normalisasi</h3>
    <!-- <p>Nilai Min dan Max A dari data ke 11 hingga 70</p> -->
    {% set filter_data= output_atribut.loc[10:69] %}
    <!-- <p>min_A={{ filter_data['A'].min() }} </p>
    <p>max_A={{ filter_data['A'].max() }} </p>

    <p>An=(A-min_A)/(max_A-minA)</p>
    <p>An=({{output_atribut['A'][0]}}-{{ filter_data['A'].min() }})/({{ filter_data['A'].max() }}-{{ filter_data['A'].min() }})</p> -->

    <div class="table-responsive">
        <table id="data_normalisasi" class="table table-bordered" style="width: 100%;">
            <thead>
                <tr>
                    <th>obs</th>
                    <th>Time</th>
                    <th>Delta</th>
                    <th>Theta</th>
                    <th>Alpha1</th>
                    <th>Alpha2</th>
                    <th>Beta1</th>
                    <th>Beta2</th>
                    <th>Gamma1</th>
                    <th>Gamma2</th>
                    <th>Attention</th>
                    <!-- <th>Meditation</th> -->
                    <!-- <th>Derived</th> -->
                    <!-- <th>totPwr</th>
            <th>Class</th> -->
                    <th>A</th>
                    <th>B</th>
                    <th>G</th>
                    <th>An</th>
                    <th>Bn</th>
                    <th>Gn</th>
                </tr>
            </thead>
            <tbody>
                {% for row in range(z) %}
                <tr>
                    <td>{{ output_atribut['obs'][row] }}</td>
                    <td>{{ output_atribut[' time'][row] }}</td>
                    <td>{{ output_atribut[' Delta'][row] }}</td>
                    <td>{{ output_atribut[' Alpha1'][row] }}</td>
                    <td>{{ output_atribut[' Alpha2'][row] }}</td>
                    <td>{{ output_atribut[' Beta1'][row] }}</td>
                    <td>{{ output_atribut[' Beta2'][row] }}</td>
                    <td>{{ output_atribut[' Gamma1'][row] }}</td>
                    <td>{{ output_atribut[' Gamma2'][row] }}</td>
                    <td>{{ output_atribut[' Attention'][row] }}</td>
                    <td>{{ output_atribut[' Meditation'][row] }}</td>
                    <!-- <td>{{ output_atribut[' Derived'][row] }}</td>
                <td>{{ output_atribut[' totPwr'][row] }}</td> -->

                    <td>{{ output_atribut['A'][row] }}</td>
                    <td>{{ output_atribut['B'][row] }}</td>
                    <td>{{ output_atribut['G'][row] }}</td>
                    <td>{{ output_atribut['An'][row] }}</td>
                    <td>{{ output_atribut['Bn'][row] }}</td>
                    <td>{{ output_atribut['Gn'][row] }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="table-container">
    <h3>Ekstraksi</h3>
    <div class="table-responsive">
        <table id="data_ekstraksi" class="table table-bordered" style="width: 100%;">
            <thead>
                <tr>
                    <th>obs</th>
                    <th>Time</th>
                    <th>Delta</th>
                    <th>Theta</th>
                    <th>Alpha1</th>
                    <th>Alpha2</th>
                    <th>Beta1</th>
                    <th>Beta2</th>
                    <th>Gamma1</th>
                    <th>Gamma2</th>
                    <th>Attention</th>
                    <!-- <th>Meditation</th> -->
                    <!-- <th>Derived</th> -->
                    <!-- <th>totPwr</th>
            <th>Class</th> -->
                    <th>A</th>
                    <th>B</th>
                    <th>G</th>
                    <th>An</th>
                    <th>Bn</th>
                    <th>Gn</th>
                    <th>Ae</th>
                    <th>Be</th>
                    <th>Ge</th>
                </tr>
            </thead>
            <tbody>
                {% for row in range(z) %}
                <tr>
                    <td>{{ output_atribut['obs'][row] }}</td>
                    <td>{{ output_atribut[' time'][row] }}</td>
                    <td>{{ output_atribut[' Delta'][row] }}</td>
                    <td>{{ output_atribut[' Alpha1'][row] }}</td>
                    <td>{{ output_atribut[' Alpha2'][row] }}</td>
                    <td>{{ output_atribut[' Beta1'][row] }}</td>
                    <td>{{ output_atribut[' Beta2'][row] }}</td>
                    <td>{{ output_atribut[' Gamma1'][row] }}</td>
                    <td>{{ output_atribut[' Gamma2'][row] }}</td>
                    <td>{{ output_atribut[' Attention'][row] }}</td>
                    <td>{{ output_atribut[' Meditation'][row] }}</td>
                    <!-- <td>{{ output_atribut[' Derived'][row] }}</td>
                <td>{{ output_atribut[' totPwr'][row] }}</td> -->

                    <td>{{ output_atribut['A'][row] }}</td>
                    <td>{{ output_atribut['B'][row] }}</td>
                    <td>{{ output_atribut['G'][row] }}</td>
                    <td>{{ output_atribut['An'][row] }}</td>
                    <td>{{ output_atribut['Bn'][row] }}</td>
                    <td>{{ output_atribut['Gn'][row] }}</td>
                    <td>{{ output_atribut['Ae'][row] }}</td>
                    <td>{{ output_atribut['Be1'][row] }}</td>
                    <td>{{ output_atribut['Ge'][row] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="table-container"></div>
    <h3>Reduksi</h3>
    <div class="table-responsive">
        <table id="data_reduksi" class="table table-bordered" style="width: 100%;">
            <thead>
                <tr>
                    <th> rA </th>
                    <th> rB </th>
                    <th> rG </th>
                    <th> stdA </th>
                    <th> stdB </th>
                    <th> stdG </th>
                    <th> absA </th>
                    <th> absB </th>
                    <th> absG </th>
                </tr>
            </thead>
            <tbody>
                {% set a=[processed_data]%}
                <tr>
                    <td>{{ processed_data['rA'] }}</td>
                    <td>{{ processed_data['rB'] }}</td>
                    <td>{{ processed_data['rG'] }}</td>
                    <td>{{ processed_data['stdA'] }}</td>
                    <td>{{ processed_data['stdB'] }}</td>
                    <td>{{ processed_data['stdG'] }}</td>
                    <td>{{ processed_data['absA'] }}</td>
                    <td>{{ processed_data['absB'] }}</td>
                    <td>{{ processed_data['absG'] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="table-container">
    <h3>Data Latih</h3>
    <div class="table-responsive">
    <table id="datatable" class="table table-bordered data-table" style="width: 100%;">
        <tr>
            <th> No </th>
            <th> rA </th>
            <th> rB </th>
            <th> rG </th>
            <th> stdA </th>
            <th> stdB </th>
            <th> stdG </th>
            <th> absA </th>
            <th> absB </th>
            <th> absG </th>
            <th> Target </th>


        </tr>
        {% for row in range(length_data_latih) %}
        <tr>
            <td>{{loop.index }}</td>
            <td>{{ data_latih['rA'][row] }}</td>
            <td>{{ data_latih['rB'][row] }}</td>
            <td>{{ data_latih['rG'][row] }}</td>
            <td>{{ data_latih['stdA'][row] }}</td>
            <td>{{ data_latih['stdB'][row] }}</td>
            <td>{{ data_latih['stdG'][row] }}</td>
            <td>{{ data_latih['absA'][row] }}</td>
            <td>{{ data_latih['absB'][row] }}</td>
            <td>{{ data_latih['absG'][row] }}</td>
            <td>{{ data_latih['target'][row] }}</td>
        </tr>
        {% endfor %}
    </table>
    
</div>



{% if final_weights %}
<h3>Bobot Akhir</h3>
<ul>
    {% for weight in final_weights %}
    <li>Bobot {{ loop.index }}: {{ weight }}</li>
    {% endfor %}
</ul>
{% endif %}


 
</table>

<script type="text/javascript">
    $(document).ready(function() {
        $('#data_mentah').DataTable({

            stateSave: true,
            searching: false,

            buttons: [{
                    extend: 'copy',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,14,15]
                    }
                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,14]
                    }
                },
                {
                    extend: 'pdf',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,14]
                    }
                },
                {
                    extend: 'print',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,14]
                    }
                },
            ],
        });
    });

    $(document).ready(function() {
        $('#data_atribut').DataTable({
            stateSave: true,
            searching: false,

            buttons: [{
                    extend: 'copy',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
                    }
                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
                    }
                },
                {
                    extend: 'pdf',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
                    }
                },
                {
                    extend: 'print',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
                    }
                },
            ],
        });
    });

    $(document).ready(function() {
        $('#data_normalisasi').DataTable({
            stateSave: true,
            searching: false,

            buttons: [{
                    extend: 'copy',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
                    }
                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
                    }
                },
                {
                    extend: 'pdf',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
                    }
                },
                {
                    extend: 'print',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
                    }
                },
            ],
        });
    });


    $(document).ready(function() {
        $('#data_ekstraksi').DataTable({
            stateSave: true,
            searching: false,

            buttons: [{
                    extend: 'copy',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
                    }
                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
                    }
                },
                {
                    extend: 'pdf',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
                    }
                },
                {
                    extend: 'print',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
                    }
                },
            ],
        });
    });
    

</script>